@font-face {
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/O4ZCFGj5hxF0EhjimlIhqAYaY7EBcUSC-HAKTq_WogA.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/O4ZCFGj5hxF0EhjimlIhqAYaY7EBcUSC-HCKT6_WogA.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/O4ZCFGj5hxF0EhjimlIhqAYaY7EBcUSC-HBUT6_WogA.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/O4ZCFGj5hxF0EhjimlIhqAYaY7EBcUSC-HAKT6_WogA.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/O4ZCFGj5hxF0EhjimlIhqAYaY7EBcUSC-HA4T6_WogA.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/O4ZCFGj5hxF0EhjimlIhqAYaY7EBcUSC-HDUSK_WogA.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/O4ZCFGj5hxF0EhjimlIhqAYaY7EBcUSC-HDtSK_WogA.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/O4ZCFGj5hxF0EhjimlIhqAYaY7EBcUSC-HCKSK_WogA.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/O4ZCFGj5hxF0EhjimlIhqAYaY7EBcUSC-HCjSK_WogA.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/O4ZMFGj5hxF0EhjimngomvnCCtqb30OXMDLSC5_R.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/O4ZMFGj5hxF0EhjimngomvnCCtqb30OXsDPSC5_R.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/O4ZMFGj5hxF0EhjimngomvnCCtqb30OXbjPSC5_R.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/O4ZMFGj5hxF0EhjimngomvnCCtqb30OXMDPSC5_R.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/O4ZMFGj5hxF0EhjimngomvnCCtqb30OXAjPSC5_R.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/O4ZMFGj5hxF0EhjimngomvnCCtqb30OX7jTSC5_R.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/O4ZMFGj5hxF0EhjimngomvnCCtqb30OX1zTSC5_R.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/O4ZMFGj5hxF0EhjimngomvnCCtqb30OXsDTSC5_R.ttf) format('truetype');
}
@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/O4ZMFGj5hxF0EhjimngomvnCCtqb30OXmTTSC5_R.ttf) format('truetype');
}
